* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: Aero;
  src: url(./fonts/Aero.ttf);
}

.cover img {
  width: 30vw;
  height: 100vh;
}

.container {
  display: flex;
  background-color: gainsboro;
}

.logo {
  width: 30vw;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Aero;
  font-size: 48px;
  margin-top: 15vh;
  padding: 20px;
  gap: 20px;
}

.logo img {
  height: 100px;
  width: 100px;
}

:visited, :link {
  color: white;
}

.credits {
  position: absolute;
  color: white;
  margin-top: 98vh;
}

header, main, .actions {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

main {
  margin-top: 40px;
  padding: 20px 80px;
  background-color: white;
}

main form {
  margin-top: 20px;
  display: flex;
  gap: 10vh;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 20vh;
}

input {
  font-size: 16px;
  width: 250px;
  padding: 6px;
  border: 2px solid lightgray;
  border-radius: 4px;
}

input:focus {
  border: 2px solid rgb(64, 152, 224);
  outline: none;
  box-shadow: 1px 1px 5px grey;
}

.error input {
  border: 2px solid lightcoral;
}

.actions button {
  padding: 12px;
  background-color: rgb(64, 152, 224);
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 5px gray;
  margin-left: 80px;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}

.actions p {
  margin-left: 80px;
  margin-top: 10px;
}

.actions a {
  text-decoration: none;
}

.actions a:visited {
  color: purple;
}

.actions a:link {
  color: rgb(64, 152, 224);
}

.pass-check {
  color: lightcoral;
  font-size: 12px;
}